.contentContainer {
  height: calc(100vh - 15rem);
}

.postContainer {
  margin-bottom: 3rem;

  h2 {
    margin-bottom: 0.5rem;
    font-size: 28px;
    font-weight: bold;
    color: var(--heading);
  }

  p {
    margin-bottom: 1.5rem;
    font-size: 18px;
    color: var(--body);
  }

  section {
    display: flex;
    font-size: 1rem;
  }
}
